<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<title th:text="#{index.title}"></title>
</head>
<body>
	<h1 layout:fragment="header">[[#{index.title}]]</h1>
	<div layout:fragment="content">
		<div id="accordion">
		  
		  <div class="card">
		    <div class="card-header" id="headingImport">
		      <h5 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#dbImportCollapse" aria-expanded="false" aria-controls="dbImportCollapse" th:text="#{importdb.collapse.heading}">
		          Database import
		        </button>
		      </h5>
		    </div>
	 		<div id="dbImportCollapse" class="collapse" aria-labelledby="headingImport" data-parent="#accordion" >
      			<div class="card-body">
      				<div th:if="${message}" class="alert alert-info" role="alert" th:text="${message}"></div>
					<form id="importdb" class="needs-validation" method="post" role="form" enctype="multipart/form-data" action="/importfile" novalidate>
						<div class="form-row">
							<div class="form-group col-md-8" >
								<input type="file" class="form-control" name="file" accept=".sql,.json" />
								<small class="form-text text-muted" th:text="#{importdb.description}">Import of basar</small>
							</div>
							<div class="form-group col-md-4">
								<button type="submit" class="btn btn-danger" th:text="#{importdb.start}"></button>
							</div>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
				</div>
  			</div>
  		  </div>
  		  
  		  <div class="card">
		    <div class="card-header" id="headingReport">
		      <h5 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#reportCollapse" aria-expanded="true" aria-controls="reportCollapse" th:text="#{report.collapse.heading}">
		          Report
		        </button>
		      </h5>
		    </div>
	 		<div id="reportCollapse" class="collapse" aria-labelledby="headingReport" data-parent="#accordion">
	 			<div class="card-body">
 					<p th:text="#{report.description}"></p>
		 			<a class="btn btn-primary" href="/report" role="button" th:text="#{report.start}">get report</a>
	 			</div>
 			</div>
		  </div>
		  
		  <div class="card">
		    <div class="card-header" id="headingReceipt">
		      <h5 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#receiptCollapse" aria-expanded="false" aria-controls="receiptCollapse" th:text="#{receipt.collapse.heading}">
		          Receipt
		        </button>
		      </h5>
		    </div>
	 		<div id="receiptCollapse" class="collapse" aria-labelledby="headingReceipt" data-parent="#accordion">
	 			<div class="card-body">
 					<p th:text="#{receipt.description}"></p>
		 			<a class="btn btn-primary" href="/receipt" role="button" th:text="#{receipt.start}">get receipts</a>
	 			</div>
 			</div>
		  </div>
		  
		  <div class="card">
		    <div class="card-header" id="headingExportSold">
		      <h5 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#dbExportSoldCollapse" aria-expanded="false" aria-controls="dbExportSoldCollapse" th:text="#{exportsold.collapse.heading}">
		          Export Sold
		        </button>
		      </h5>
		    </div>
	 		<div id="dbExportSoldCollapse" class="collapse" aria-labelledby="headingExportSold" data-parent="#accordion">
	 			<div class="card-body">
 					<p th:text="#{exportsold.description}"></p>
		 			<a class="btn btn-primary" href="/exportsold" role="button" th:text="#{exportsold.start}">export sold</a>
	 			</div>
 			</div>
  		  </div>
		  
  		  <div class="card">
		    <div class="card-header" id="headingExport">
		      <h5 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#dbExportCollapse" aria-expanded="false" aria-controls="dbExportCollapse" th:text="#{exportdb.collapse.heading}">
		          Database Export
		        </button>
		      </h5>
		    </div>
	 		<div id="dbExportCollapse" class="collapse" aria-labelledby="headingExport" data-parent="#accordion">
	 			<div class="card-body">
 					<p th:text="#{exportdb.description}"></p>
                    <form action="/exportdb" method="GET">
                      <div>
                        <input type="radio" id="sql_format" name="format" value="sql">
                        <label for="sql_format">SQL</label>
                      </div>
                      <div>
                        <input type="radio" id="kleidermarkt_format" name="format" value="kleidermarkt">
                        <label for="sql_format">Kleidermarkt JSON</label>
                      </div>
<!-- 		 			  <a class="" href="/exportdb" role="button" th:text="#{exportdb.start}">get export</a> -->
                      <button type="submit" class="btn btn-primary" th:text="#{exportdb.start}">get export</button>
                    </form>
	 			</div>
 			</div>
  		  </div>
		</div>
	</div>
</body>
</html>