<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{master}">
<head>
<title th:text="#{index.title}"></title>
</head>
<body layout:fragment="body">
	<div class="login">
		<div class="logo">
			<img src="/basar-server-logo.png" />
		</div>
		<form class="form-signin" method="post" action="/login">
			<h2 class="form-signin-heading">Login</h2>
			<p>
				<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
			</p>
			<p>
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
			</p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>
</body>
</html>